
.first {
  background:lightblue;
  text-align: center;
  height: 100px;
}

.second {
  background:dodgerblue;
  padding:5px;

}

h1 {
  text-align: center;
  color: indianred;

}

h2 {
  text-align: center;
  color: green;

}

div {
  background: lightseagreen;
  padding:10px;
}

